﻿@{
    ViewBag.Title = "Calculator";
}

<div id="calculator">
    <!-- Screen and clear key -->
    <div class="top">
        <span class="clear" data-bind="click: clearClick">C</span>
        <div class="screen" data-bind="text: currentNumber"></div>
    </div>

    <div class="keys">
        <!-- operators and other keys -->
        <span data-bind="click: numberClick.bind($data, 7)">7</span>
        <span data-bind="click: numberClick.bind($data, 8)">8</span>
        <span data-bind="click: numberClick.bind($data, 9)">9</span>
        <span class="operator" data-bind="click: operatorClick.bind($data, '+')">+</span>
        <span data-bind="click: numberClick.bind($data, 4)">4</span>
        <span data-bind="click: numberClick.bind($data, 5)">5</span>
        <span data-bind="click: numberClick.bind($data, 6)">6</span>
        <span class="operator" data-bind="click: operatorClick.bind($data, '-')">-</span>
        <span data-bind="click: numberClick.bind($data, 1)">1</span>
        <span data-bind="click: numberClick.bind($data, 2)">2</span>
        <span data-bind="click: numberClick.bind($data, 3)">3</span>
        <span class="operator" data-bind="click: operatorClick.bind($data, '/')">/</span>
        <span data-bind="click: numberClick.bind($data, 0)">0</span>
        <span>.</span>
        <span class="eval" data-bind="click: totalClick.bind($data)">=</span>
        <span class="operator" data-bind="click: operatorClick.bind($data, '*')">*</span>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var calculator = new JMG.Apps.Calculator();
            ko.applyBindings(calculator);
        });
    </script>
}
